*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0)
}
#H110{
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height:50px ;
    border: 1px solid;
    position: sticky;
   
    
    
}
.image{
    height: 450px;
    width: 960px;
   margin-left: 270px;
   color: rgb(255, 255, 255);
}
.h1top{
    border: 2px solid;
    border-color: rgb(255, 255, 255);
    background-color: black;
    color: rgb(255, 255, 255);
   
}
#body{
    margin: 0px  0px  0px  0px;
    padding: 0px  200px  0px  200px;  
    background-color: purple;
    
   
   
   
}

.p{
    display: ;
    margin: 0px  0px  0px  0px;
    padding: 0px  0px  0px  0px;
   color: rgb(255, 255, 255);

}
.divp{
    display: flex;
   color: rgb(255, 255, 255);
}
 #all{
    border: 1px solid;
}
.button{
    font-size: 19px;
    cursor: pointer;
    border: 1px solid;
    border-color: aliceblue;
    
}
#div1{
padding-bottom: 90px;
}
#div2{padding-bottom: 90px;}
#div3{padding-bottom: 90px;}
#div4{padding-bottom: 90px;}
#div5{
    padding-bottom: 0px;
    padding-top: 90px;
}
#div6{padding-bottom: 90px;}
#div7{padding-bottom: 90px;}
#div8{padding-bottom: 90px;}
#div9{
    padding-bottom: 0px;
    padding-top: 90px
}
#div10{;}
